<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/globalnavi::meta_header('ツイート登録',~{::link},~{::script},~{::meta})">
    <script th:src="@{/js/preview.js}" ></script>
</head>
<body>
<div th:replace="common/globalnavi::globalnavi"></div>
<div class="container-fluid">
    <div class="row">
        <main class="col-12 py-4">
            <div class="container">


                <div role="main" 　class="col-12 py-1">

                    <div class="card">
                        <div class="card-body">
                            <form class="needs-validation"
                                  th:action="@{/new}"
                                  th:object="${tweet}" method="post" required>

                                <div class="form-group">
                                    <label for="msg">ツイートする文字を入力するんだ！<small class="text-muted">※[ ]で囲むと🍝で囲われます</small></label>
                                    <textarea class="form-control" id="msg_textarea" rows="5" th:field="*{message}"></textarea>
                                </div>

                                <div class="progress">
                                    <div id="progress-tweet"
                                         class="progress-bar progress-bar-striped progress-bar-animated"
                                         role="progressbar" aria-valuemin="0" aria-valuemax="128" style="">20 chars
                                    </div>
                                </div>
                                <div class="form-group">
                                <label>プレビュー</label>
                                    <div class="card">
                                        <div class="card-body">
                                            <pre id="preview_msg" class="blockquote"></pre>
                                        </div>
                                    </div>


                                </div>
                                <button class="btn btn-primary btn-lg btn-block" type="submit" id="gourmet-submit">
                                    登録
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="common/globalnavi::globalfooter"></footer>
</body>
</html>