<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/globalnavi::meta_header('ツイート',~{::link},~{::script},~{::meta})">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@moo_period" />
    <meta name="twitter:creator" content="@moo_period" />
    <meta property="og:url" content="https://caprese.info/" />
    <meta property="og:title" content="@moo_periodさんの伏せ字ツイート|chobitter（ちょびったー）" />
    <meta property="og:description" content="お前らのツイートをパスタで埋め尽くすぞ！" />
    <meta property="og:image" content="https://chobitter.caprese.info/img/twitter-card.jpg" />
</head>
<body>
<div th:replace="common/globalnavi::globalnavi"></div>
<div class="container-fluid">
    <div class="row">
        <main class="col-12 py-4">
            <div class="container">


                <div role="main" 　class="col-12 py-1">

                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center card-title">
                                <h3 class="h5 text-secondary" th:text="${tweet.twitterUserId}"></h3>
                            </div>
                            <p class="card-text" id="tweet"  th:utext="${tweet.message}"></p>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="blog-footer">
    <p><a href="https://twitter.com/moo_period">@moo_period</a>によって作成されました。</p>
    <p>
        <a href="#">TOP</a>
    </p>
</footer>
</body>
</html>