<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/globalnavi::meta_header('ツイート',~{::link},~{::script},~{::meta})">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@moo_period" />
    <meta name="twitter:creator" content="@moo_period" />
    <meta property="og:url" content="https://caprese.info/" />
    <meta property="og:title" content="公開範囲：ガルパン履修者|@moo_periodさんの伏せ字ツイート|chobitter（ちょびったー）" />
    <meta property="og:description" content="ネタバレにワンパスタ。お前らのツイートをパスタで埋め尽くすchobitter（ちょびったー）" />
    <meta property="og:image" content="https://chobitter.caprese.info/img/twitter-card.jpg" />
</head>
<body>
<div th:replace="common/globalnavi::globalnavi"></div>
<div class="container-fluid">
    <div class="row">
        <main class="col-12 py-4">
            <div class="container">
                <div class="alert alert-success" role="alert" th:if="${registSuccusessFlag}">
                    メッセージをツイートしたぞ！
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div role="main" 　class="col-12 py-1">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a th:href="'https://twitter.com/'+${user.displayName}"><th:block th:text="'@'+${user.displayName}"></th:block></a></h5>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${tweet.insertDate}"></h6>

                            <p class="card-text" id="tweet"  th:utext="${tweet.message}"></p>
                            <a th:href="'https://twitter.com/moo_period/status/'+${tweet.twitterStatusId}" class="card-link"><i class="fa fa-twitter-square" aria-hidden="true"></i>もとのツイート</a>
                        </div>
                    </div>

                    <a href="/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">パスタでツイートしてみる</a>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="blog-footer">
    <p><a href="https://twitter.com/moo_period">@moo_period</a>によって作成されました。</p>
    <p>
        <a href="#">TOP</a>
    </p>
</footer>
</body>
</html>